.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  left: 25vw;
  box-sizing: border-box;
}

.content {
  background-color: #222;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 325px;
  max-width: 100%;
  position: absolute;
  z-index: 100;
  width: 25vw;
  height: 100vh;
  top: 0;
}

.filter-input {
  width: calc(100% - 30px);
  padding: 10px 5px;
  font-size: 1em;
}


#sidebar-inner {
  padding: 10px;
}

.venue-item {
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 1px 1px 2px #000;

}

.venue-item:hover {
  background-color: #999;
  color: #fff;
}

.items-list {
  list-style-type: none;
  padding: 0;
}

list-container {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}


@media screen and (max-width: 825px) {

  .filter-input {
    width: calc(100% - 20px);
    padding: 15px 10px;
    font-size: 1em;
  }

  .venue-item {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 415px) {

  .filter-input {
    width: calc(100% - 20px);
    padding: 15px 10px;
    font-size: 1em;
  }

  .filter-item {
    padding: 15px 10px;
  }

}
